---
layout: default
is_home: true
---
<p class="bio name">
    <strong>Hi, I'm Jacob</strong>. I'm a developer.
</p>
<p class="bio">
    By day, I <strong class="uni">study computer science at the University of Sheffield</strong>,
    am a <strong class="cern">technical student at CERN</strong> and I <strong class="coffee">drink
    a lot of coffee</strong> <span class="light">By night, I usually sleep.</span>
</p>
<nav class="contact">
    You can find me at <a class="email" href="mailto:&#106;&#97;&#99;&#111;&#98;.&#119;a&#108;&#107;&#101;&#114;94&#64;&#103;&#109;a&#105;l.com">my inbox</a>
    or <a class="twitter" href="//twitter.com/jacobwalkr">@jacobwalkr</a>.
    I keep my code on <a class="gitlab" href="//gitlab.com/jacobwalkr">GitLab</a>
    and <a class="github" href="//github.com/jacobwalkr">GitHub</a>, and my photography
    on <a class="flickr" href="//www.flickr.com/photos/jacobwalkr/">Flickr</a>.
</nav>

