// Uses Chris Coyier's box-sizing trick
html {
    box-sizing: border-box;
    background-color: $brand-blue;

    a {
        color: $brand-blue;
        font-weight: $normal;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    max-width: $page-width;
    font: $sans-serif;
    font-size: 18px;
    border-radius: 3px;
    width: 100%;
    height: initial;
    margin: 0;
    background-color: white;

    @media (min-width: 600px) {
        width: 600px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    @media (min-height: 553px) and (min-width: 600px) {
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

h1, h2, h3, h4, h5, h6 {
    font: $serif;
    margin-bottom: 5px;
}

header, main, footer {
    @media (max-width: $page-width) {
        width: 100%;
    }
}

header {
    text-align: center;
    padding: 40px 40px 10px 40px;

    h1 {
        margin-bottom: -9px;
        color: $brand-blue;
        font-weight: $bold;
        margin-top: 25px;
        font-size: 48px;
    }

    img.headshot {
        display: block;
        height: 175px;
        width: 175px;
        margin: 0 auto;
        border-radius: 50%;
    }
}

main {
    padding: 15px;

    p, nav {
        margin: 15px 10px;

        p {
            margin: 15px 0;
        }

        &.bio, &.contact {
            $font: $serif;
            font-size: 18px;
            line-height: 1.7;

            &.name {
                font-size: 24px;
            }

            &.handle {
                margin-top: 0;
            }

            strong {
                font-weight: $normal;

                &.uni {
                    color: #e4ad00; // gold
                }

                &.cern {
                    color: #0053a1; // cern blue
                }

                &.coffee {
                    color: #662c09; // just some brown
                }
            }

            span.light {
                color: #666666;
            }
        }

        a {
            &.twitter {
                color: #55acee; // twitter blue
            }

            &.gitlab {
                color: #443366; // gitlab's default purple
            }

            &.github {
                color: #333333; // the darkest brand grey for github
            }

            &.flickr {
                color: #ff0084; // flickr pink
            }
        }
    }
}
