// Uses Chris Coyier's box-sizing trick
html {
    box-sizing: border-box;
    background: url('/images/blue_noise.png') repeat $brand-blue;
    min-width: 320px;

    a {
        color: $brand-blue;
        font-weight: $normal;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font: $sans-serif;
    font-size: 18px;
    width: initial;
    height: initial;
    border-radius: 3px;
    margin: $body-margin;
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    font: $serif;
    color: $brand-blue;
    margin-bottom: 5px;
    margin-top: 0;
}

h1 {
    font-size: 3em;
        font-weight: $bold;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1.1em;
}

header, main, footer {
    @media (max-width: $home-width) {
        width: 100%;
    }
}

header {
    text-align: center;
    padding: 40px 40px 10px 40px;

    h1 {
        margin-top: 25px;
    }

    img.headshot {
        margin: 0 auto;
        display: block;
        height: 175px;
        width: 175px;
        border-radius: 50%;
    }
}

code, kbd, pre, samp {
    font-family: 'Inconsolata', 'Consolas', monospace;
}

main {
    padding: 15px;

    p, nav {
        margin: 15px 10px;

        p {
            margin: 15px 0;
        }

        &.bio, &.contact {
            $font: $serif;
            font-size: 18px;
            line-height: 1.7;

            &.name {
                font-size: 24px;
            }

            &.handle {
                margin-top: 0;
            }

            strong {
                font-weight: $normal;

                &.uni {
                    color: #e4ad00; // gold
                }

                &.cern {
                    color: #0053a1; // cern blue
                }

                &.coffee {
                    color: #662c09; // just some brown
                }
            }

            span.light {
                color: #666666;
            }
        }

        a {
            &.twitter {
                color: #55acee; // twitter blue
            }

            &.gitlab {
                color: #443366; // gitlab's default purple
            }

            &.github {
                color: #333333; // the darkest brand grey for github
            }

            &.flickr {
                color: #ff0084; // flickr pink
            }
        }
    }
}
