$post-bp: $post-width + $body-margin * 2;

html.post {
    background: white;

    & > body {
        max-width: $post-width;

        header {
            h1 {
                margin-bottom: 0.6em;

                &.post-title {
                    margin-top: 0;
                }
            }

            &.post-header {
                padding-top: 0;
            }
        }

        @media (min-width: $post-bp) {
            margin-left: 50%;
            transform: translateX(-50%);
            border-radius: 3px;
            width: $post-width;
        }
    }
}
