$post-bp: $post-width + $body-margin * 2;

html.post > body {
    max-width: $post-width;

    & > header {
        h1 {
            margin-bottom: 0.6em;
        }
    }

    @media (min-width: $post-bp) {
        margin: 50px auto;
        border-radius: 3px;
    }

    @media (min-width: 700px) {
        & > header {
            padding: 30px;

            img.headshot {
                float: left;
            }

            h1 {
                float: right;
                margin-top: 1em;
            }
        }
    }
}

header.post-header {
    padding: 0;
    text-align: center;
    margin-bottom: 40px;
}
